@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@200;400;600&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	list-style: none;
}

body{
	background-color: #3f413f;
}
 .sukses {
	 font-size: large;
 }

.wrapper{
	width: 320px;
	height: 420px;
	background: rgb(0, 0, 0, 0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 58%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.wrapper .header{
	background: rgb(0, 0, 0, 0.5);

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.header .logo{
	padding: 30px 10px;
}

.header .logo p{
	font-size: 24px;
	font-weight: 600;
	font-family: 'Merienda', cursive;
}

.header .menu ul{
	display: flex;
}

.header .menu ul li{
	margin-right: 1px;
}

.header .menu ul li a{
	padding: 22px;
	width: 120px;
	display: block;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: rgb(235, 8, 8);
}

.header .menu ul li:hover,
.header .menu ul li.active{
	background: #000000;
}

.header .menu ul li:last-child{
	border-top-right-radius: 3px;
	margin-right: 0;
}

.main_container{
	padding: 10px;
}

.title{
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size: 22px;
}

.content p{
	margin-bottom: 20px;
	text-align: justify;
}

.form_wrap{
	width: 250px;
	margin: 0 auto 30px;
}

.form_wrap:last-child{
	margin-bottom: 0px;
}

.form_wrap label{
	display: block;
	color: #ffffff;
	margin-bottom: 10px;
	font-weight: 200;
}

.form_wrap .input_field{
	position: relative;
}

.form_wrap .input{
	border: 1px solid #8c94ae;
	width: 100%;
	outline: none;
	border-radius: 3px;
	padding: 10px;
	padding-left: 45px;
	font-size: 14px;
	color: #0f0e0e;
}

.form_wrap .input:focus{
	border: 1px solid #ff0000;
}
.form_wrap input[type="submit"]{
	border: 0;
	background: #ff0000;
	text-align: center;
	width: 100%;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
	outline: none;
}

.form_wrap input[type="submit"]:hover{
	background: #131213;
}

.form_wrap .error_msg{
	margin-top: 10px;
	color: #ff8471;
	font-size: 14px;
}

.form_wrap i{
	position: absolute;
	top: 13px;
	left: 15px;
	font-size: 16px;
	color: #1b1b1b;
}

.smiley{
	width: 200px;
	margin: 0 auto 20px;	
	font-size: 200px;
	text-align: center;
	color: #0e1935;
}

#particles-js{
	width: 100%;
	height: 100%;
	background-color: #3f413f;
	z-index: 500;
	top: 0;
	left: auto;
}


